/* ---------------------- GLOBAL RESET ---------------------- */
body{
  font-family: "Raleway", sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------------------- HEADER ---------------------- */
header{
  position: fixed;
  background: white;
  padding: 10px;
  height: 60px;
  display: flex;
  gap: 20rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}
.logo{
  font-size: 0.7rem;
}
.logo h1{
  color: #d20404;
}
.logo h2{
  color: #00416e;
  letter-spacing: 2px;
}
nav{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

/* ---------------------- NAV LINKS ---------------------- */
.nav-links a{
  position: relative;
  text-decoration: none;
  color: #444;
  padding: 10px;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1.5;
  transition: 0.4s;
}
.nav-links a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}
.nav-links a.active::after  {
  width: 100%;
}
.dropdown{
  position: relative;
}
.dropdown-menu{
  list-style: none;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 200px;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  margin-top: 20px;
}
.dropdown:hover .dropdown-menu{
  opacity: 1;
  visibility: visible;
}
.dropdown-menu li{
  width: 100%;
  padding: 10px;
}
.dropdown-menu li:hover{
  background: #c4c3c3;
}
.dropdown-menu li a{
  color: black;
}
/* ---------------------- BUTTONS ---------------------- */
button{
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: small;
  transition: 0.4s;
}
button:hover{
  transform: scale(1.05);
}
.donate-btn{
  background: #d20404;
  color: white;
}
.login-btn{
  background: #65b6f1;
  color: white;
}

/* ---------------------- HERO SECTION ---------------------- */
.hero{
  width: 100%;
  height: 100vh;
  padding: 5rem;
  background: linear-gradient(180deg, rgba(0,65,110,0.06), rgba(247,248,252,0.6));
}
.slider-img{
  animation: float 6s ease-in-out infinite;
  background: white;
}
.slide-conatiner{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  transition: transform 0.5s ease;
}
.slider-txt{
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.5s ease-in-out;
  animation: float 2s ease-in-out infinite;
}
.slider-txt h1{
  font-size: 50px;
}
.slider-txt p{
  font-size: large;
  letter-spacing: 1.5px;
  color: #777777;
}
.slider-btns{
  display: flex;
  gap: 2rem;
}
#hero-image{
  transition: opacity 0.5s ease-in-out;
  height: 550px;
  width: 400px;
  border-radius: 20px;
  object-fit: cover;
}
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.slider-img {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  animation: float 2s ease-in-out infinite;
  height: 600px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
}

.slider-controls button {
  background: none;
  color: whblackite;
  font-weight: bolder;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}


/* ---------------------- DIVIDER ---------------------- */
.divider{
  width: 100%;
  height: 80px;
  padding: 20px;
  background: #f72525;
  color: white;
  text-align: center;
  font-size: large;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.divider p{
  margin-top: 10px;
}

/* ---------------------- ABOUT US ---------------------- */
.about-us{
  padding: 20px;
  display: flex;
  gap: 2rem;
  margin-top: 50px;
}
.about-us img{
  width: 300px;
  border-radius: 0 30px 0 30px;
}
.about-us-txt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-us-txt a{
  text-decoration: none;
  color: #d20404;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: bold;
  gap: 10px;
}
.about-us-txt span{
  margin-bottom: 10px;
}
.about-us-txt p{
  color: #606060;
}
.about-us-txt ul li{
  list-style: none;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  color: #606060;
}
.about-us-txt ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #606060; 
  font-weight: bold;
}
.about-us-txt .mini-card{
  background: rgb(234, 20, 66);
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  line-height: 1.5rem;
}
.about-us-txt .mini-card p{
  color: white;
}

/* ---------------------- NEWS SECTION ---------------------- */
.news-section{
  padding: 20px;
  display: flex;
  gap: 20px;
  line-height: 1.5rem;
  margin-top: 50px;

}
.news-section img{
  width: 400px;
  border-radius: 10px;
}
.news-txt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-txt p{
  color: #606060;
}
.news-txt a{
  text-decoration: none;
}

/* ---------------------- FOOTER ---------------------- */
footer{
  width: 100%;
  height: 400px;
  background-color: #393838;
  color: white;
  padding: 8rem;
  display: flex;
  gap: 10rem;
}
.footer-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
footer ul a{
  display: flex;
  align-items: center;
  color: #606060;
  text-decoration: none;
  gap: 5px;
}
footer a:hover:not(.working-hours a){
  color: #fff;
}
footer h3{
  color: #c5c2c2;
}
.our-office .material-symbols-outlined{
  font-size: large;
}
.social ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social ul .fab{
  background: #d20404;
  color: white;
  padding: 5px;
  border-radius: 2px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .social-links{
  zoom: 0.8;
}
.working-hours li{
  color: #c5c2c2;
}
