doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reset Password || Kobciye Foundation
    link(rel="stylesheet" href="/css/auth.css")
  body

    form.form#reset-form
      h1 New Password
      p Enter and confirm your new password

      .input-box
        label New Password
        input#newPassword(type="password" placeholder="Min. 8 characters")

      .input-box
        label Confirm Password
        input#confirmPassword(type="password" placeholder="Repeat password")

      .error-msg#resetError
      button.auth-btn(type="submit") Update Password

    script(src="/js/reset-password.js")